*{box-sizing: border-box;}
body{margin: 0;padding: 0;
    background-color: white;
}

/* Animation sur le titre*/
.ml2{
    font-weight: 20px;
    font-size: 70px;
    color:white;
    display: inline-block;
    padding-right: 40px;
}
.ml2 .letter{
    display: inline-block;
}
#blockCV{
    display: flex;
}
#cv1 {
    background-image: url("CV_pg1.jpg");
    display: none;
    height: auto;
    width: 879.44px;
}
#cv2{
    background-image: url("CV_pg1.jpg");
    display: none;
    height: auto;
    width: 879.44px;
    float: right;
    z-index: 2;

}
#red{
    width: 100%;
    height: 560px;
    background-color: white;
    display: none;
}
/* Animation sur le titre*/

.l1{height:250px;color:white;display: inline-block;font-size: 120%;cursor: pointer;
    font-family: 'Big Shoulders Text', cursive;letter-spacing: 2.5px;text-align: center;
    }

.b {height:250px;width: 20%;text-align: center;
    font-size: 120%;cursor: pointer;border: 2px solid white}

p{display: block;padding-top: 35px;font-family: 'Big Shoulders Text', cursive;letter-spacing: 2.5px}


.box1 {width: 40%;background-color: #ff6819}
.box2 {background-color:rgb(44, 190, 189);width: 10%}
.box3 {background-color: #2f7365;color:white;display: inline-block}
.box4 {background-color: #a12731;color:white;display: inline-block}
.box5 {background-color: #8e5c1a;color:white;display: inline-block}
.box6 {background-color: #b83200;color:white;display: inline-block}
.box7 {background-color: #798057;color:white;display: inline-block}
.box8 {background-color: #2f7365;color:white;display: inline-block}


#photo {max-width: 200%;height:460px;overflow: scroll;
    float:right;border: 2px solid white; margin-top: -180px}
#photo1{display: inline-block;overflow: hidden;

}

/*Hover sur les boxes*/
.box1:hover{background-color: #ff6819;transition: background-color 0.3s ease-in-out;}
.box2:hover{background-color: rgb(47, 213, 212);transition: background-color 0.3s ease-in-out;}
.box3:hover{background-color: #49b8a6;transition: background-color 0.3s ease-in-out;}
.box4:hover{background-color: #cc2b3c;transition: background-color 0.3s ease-in-out;}
.box5:hover{background-color: #b7791e;transition: background-color 0.3s ease-in-out;}
.box6:hover{background-color: orangered;transition: background-color 0.3s ease-in-out;}
.box7:hover{background-color: #9fa670;transition: background-color 0.3s ease-in-out;}
.box8:hover{background-color: #49b8a6;transition: background-color 0.3s ease-in-out;}

.box2:hover {transform: scale3d(.99,.96,.99);transition: .2s ease-in-out;}
.box3:hover {transform: scale3d(.96,.97,.99);transition: .2s ease-in-out;border-radius: 12px;border: none}
.box4:hover {transform: scale3d(.96,.97,.99);transition: .2s ease-in-out;border-radius: 12px;border: none}
.box5:hover {transform: scale3d(.96,.97,.99);transition: .2s ease-in-out;border-radius: 12px;border: none}
.box6:hover {transform: scale3d(.96,.97,.99);transition: .2s ease-in-out;border-radius: 12px;border: none}
.box7:hover {transform: scale3d(.99,.97,.99);transition: .2s ease-in-out;border-radius: 12px;border: none}
.box8:hover {transform: scale3d(.99,.97,.99);transition: .2s ease-in-out;border-radius: 12px;border: none}


/*pictogrammes*/
.fa-user-astronaut{margin-top: -18px}
.fas{font-size: 250%; color:white;}
.fab{font-size: 250%; color:white;}
.far{font-size: 250%; color:white;}

.fas:hover{transform: rotate(360deg);transition: 1s}
.fab:hover{transform: scale(0.5,0.5);transition: 1s}
.far:hover{transform: scale(1.5,1.5);transition: 1s}

/*animation/slider sur la photo*/

@keyframes sliderPhoto {
    0% { left: 0; }
    20% { left: 0; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    100% { left: -300%; }
}

/*les media query*/

@media screen and (max-width: 800px)  {
    #main{width:100%}
    #photo{display: none}
    .box1{width: 100%}
    .box2{width: 100%;height: 200px}
    .box3{width: 50%}
    .box4{width: 50%}
    .box5{width: 100%;height: 200px}
    .box6{width: 50%}
    .box7{width: 50%}
    .box8{width: 100%;height: 200px}
}
@media only screen and (min-width: 800px) {
    #main{width:100%}
    #photo{width: 50%;height: 700px;}
    .box1{width: 100%;height: 180px}
    .box2{width: 50%}
    .box3,.box4,.box5,.box6,.box7,.box8{width: 16.66%}
}
@media only screen and (min-width: 1300px) {
    #main{width:100%;height: 932px;margin-left: auto;margin-right: auto}
    #photo{width: 50%;height: 1020px;}
    .box1{width: 100%;height: 180px}
    .box2{width: 50%;height: 180px}
    .box3,.box4,.box5,.box6{width: 25%;height: 280px;float: left}
    .box7{width: 50%;height: 280px}
    .box8{width: 100%;height: 180px}

}





